extends layout
block content
  - date = ""
  each link in links
    
    if !moment(link.createdAt).isSame(date, 'Hour')
      h3= moment(link.createdA).format("dddd, Do MMMM YYYY")
      - date = link.createdAt
      
    .callout.panel
      a(href=link.url)
        h6= link.title || link.url
      p
        small= link.url.split('/')[2] + " - " +link.user.email
      if link.description
        blockquote
          p= link.description
